body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.quiz-container{
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
#question{
    font-size: 18px;
    margin-bottom: 15px;
}
.option-btn{
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    cursor: pointer;
}
.option-btn:hover{
    background-color: #ddd;
}
.correct{
    background-color: green;
    color: white;
}
.wrong{
    background-color: red;
    color: white;
}