body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}
.game-container{
    display:grid;
    grid-template-columns: repeat(4,80px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}
.card {
    width: 80px;
    height: 80px;
    background: #444;
    cursor: pointer;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.card.flipped{
    background: #2196f3
}
.card.matched{
    background: green;
    pointer-events: none;
}
#info{
    margin: 10px;
}
#message{
    margin-left: 15px;
    font-weight: bold;
}